ipykernel
ipywidgets
numpy
pandas
matplotlib
seaborn
scikit-learn
tqdm
transformers
datasets
huggingface_hub
evaluate
accelerate
openai
anthropic
mlflow
qdrant-client
pyyaml
requests
python-dotenv
nvidia-ml-py
kfp>=2.0.0
kfp-kubernetes
langchain
langchain-text-splitters
langchain-qdrant
langsmith
qdrant-client
sentence-transformers
